@import "./scss/reset";
@import "./scss/mixin";
@import "./scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch&display=swap');

body{
    font-family: 'Rubik Iso', cursive;
     color:white;
}

h1{
   font-size:3rem;
     font-family: 'Satisfy', cursive;
}
p{
    font-family: 'Astloch', cursive;
    font-size:2rem;
}